{{#extend "base"}}
    {{#content "title"}}
        <title>Фотоквесты</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/index.css">
    {{/content}}

    {{#content "main"}}
        {{#if username}}
            <div class="main-content">
                <div>
                    {{username}}
                </div>
                <div id="finishedQuests" class="main-content">
                    <div>
                        <p>Завершенные</p>
                    </div>
                    {{#if finished}}
                        {{#each finished}}

                            {{> quest/quest}}
                        {{/each}}
                    {{else}}
                        <div>
                            Сейчас вы не проходите ни одного квеста
                        </div>
                    {{/if}}

                </div>
                <div id="inProcessQuests" class="main-content">
                    <div>
                        <p>В процессе</p>
                    </div>
                    {{#if inProcess}}
                        {{#each inProcess}}
                            {{> quest/quest}}
                        {{/each}}
                    {{else}}
                        <div>
                            Сейчас вы не проходите ни одного квеста
                        </div>
                    {{/if}}
                </div>
            </div>
        {{else}}
            <div class="main-content">
                {{error}}
            </div>
        {{/if}}

    {{/content}}

    {{#content "scripts"}}
        <script src="/index.js"></script>
    {{/content}}
{{/extend}}
