{{#extend "base"}}
    {{#content "title"}}
        <title>Фотоквесты</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/index.css">
    {{/content}}

    {{#content "main"}}
        {{#if username}}
            <div class="main-content">
                <div>
                    {{username}}
                </div>
                <div id="finishedQuests" class="main-content quest-block ">
                    <div class="block-header">
                        Завершенные
                    </div>
                    {{#if finished}}
                        {{#each finished}}
                            <div class="quest">
                                <div class="quest-name">
                                    <p class="quest-name-a"><a href={{url}}>{{title}}</a></p>
                                </div>
                                {{#if photo}}
                                    <img class="quest-img img-rounded" src={{photo}}>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <div>
                            Сейчас вы не проходите ни одного квеста
                        </div>
                    {{/if}}

                </div>
                <div id="" class="main-content quest-block">
                    <div class="block-header">
                        В процессе
                    </div>
                    {{#if inProcess}}
                        {{#each inProcess}}
                            <div class="quest">
                                <div class="quest-name">
                                    <p class="quest-name-a"><a href={{url}}>{{title}}</a></p>
                                </div>
                                {{#if photo}}
                                    <img class="quest-img img-rounded" src={{photo}}>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <div>
                            Сейчас вы не проходите ни одного квеста
                        </div>
                    {{/if}}
                </div>
            </div>
        {{else}}
            <div class="main-content">
                {{error}}
            </div>
        {{/if}}

    {{/content}}

    {{#content "scripts"}}
        <script src="/index.js"></script>
    {{/content}}
{{/extend}}
